Repository komodorio/helm-dashboard, pull requests merged in 2023-04, with the labels that each got.

#319 Added Link to the v1.3.0 badge
  README.md
Labels: docs

#336 bug: fix sorting of release versions
  pkg/dashboard/static/actions.js
Labels: frontend

#340 docs: fixed typos
  README.md
Labels: docs

#343 feat: auto labeler for helm-dashboard-v2
  .github/labeler.yml
Labels: github-actions
