Repository komodorio/helm-dashboard, pull requests merged in 2023-03, with the labels that each got.

#225 Query ArtifactHub for repo suggestion
  main.go
  pkg/dashboard/handlers/helmHandlers.go
  pkg/dashboard/objects/artifacthub.go
  pkg/dashboard/static/actions.js
  pkg/dashboard/static/index.html
  pkg/dashboard/static/list-view.js
  pkg/dashboard/static/repo.js
Labels: app, backend, frontend

#234 Minor UI fixes
  pkg/dashboard/static/index.html
  pkg/dashboard/static/list-view.js
Labels: frontend

#228 Add username and password support to Repo add feature
  pkg/dashboard/handlers/helmHandlers.go
  pkg/dashboard/objects/repos.go
  pkg/dashboard/objects/repos_test.go
  pkg/dashboard/static/index.html
  pkg/dashboard/static/styles-base.css
Labels: backend, frontend, tests

#235 Display resource health aggregate icons on list of releases
  pkg/dashboard/handlers/helmHandlers.go
  pkg/dashboard/handlers/kubeHandlers.go
  pkg/dashboard/objects/kubectl.go
  pkg/dashboard/static/details-view.js
  pkg/dashboard/static/list-view.js
  pkg/dashboard/static/openapi.json
  pkg/dashboard/static/styles.css
Labels: backend, frontend

#270 update README
  README.md
Labels: docs

#274 Implement install modal skeleton
  dashboard/src/components/modal/InstallModal.stories.tsx
  dashboard/src/components/modal/InstallModal.tsx
  dashboard/src/components/modal/Modal.tsx
Labels: helm-dashboard-v2

#275 Implement Uninstall modal with mocked data
  dashboard/src/components/modal/UninstallModal.stories.tsx
  dashboard/src/components/modal/UninstallModal.tsx
Labels: helm-dashboard-v2

#310 Send analytics to server
  pkg/dashboard/static/analytics.js
Labels: frontend

#311 Refactoring analytics
  pkg/dashboard/static/analytics.js
Labels: frontend
