Repository komodorio/helm-dashboard, pull requests merged in 2023-02, with the labels that each got.

#195 Adding more information on UI for helm test API response
  pkg/dashboard/static/actions.js
Labels: frontend

#147 [WIP] Major release 1.0
  .github/labeler.yml
  .github/workflows/build.yml
  Dockerfile
  Makefile
  README.md
  charts/helm-dashboard/README.md
  go.mod
  go.sum
  main.go
  pkg/dashboard/api.go
  pkg/dashboard/api_test.go
  pkg/dashboard/handlers/common.go
  pkg/dashboard/handlers/helmHandlers.go
  pkg/dashboard/handlers/kubeHandlers.go
  pkg/dashboard/handlers/scannerHandlers.go
  pkg/dashboard/objects/app.go
  pkg/dashboard/objects/cache.go
  pkg/dashboard/objects/data.go
  pkg/dashboard/objects/data_test.go
  pkg/dashboard/objects/kubectl.go
  pkg/dashboard/objects/releases.go
  pkg/dashboard/objects/releases_test.go
  pkg/dashboard/objects/repos.go
  pkg/dashboard/objects/repos_test.go
  pkg/dashboard/objects/testdata/repositories.yaml
  pkg/dashboard/scanners/checkov.go
  pkg/dashboard/scanners/trivy.go
  pkg/dashboard/server.go
  pkg/dashboard/static/actions.js
  pkg/dashboard/static/api-docs.html
  pkg/dashboard/static/details-view.js
  pkg/dashboard/static/index.html
  pkg/dashboard/static/list-view.js
  pkg/dashboard/static/openapi.json
  pkg/dashboard/static/repo.js
  pkg/dashboard/static/revisions-view.js
  pkg/dashboard/static/scripts.js
  pkg/dashboard/subproc/data.go
  pkg/dashboard/subproc/data_test.go
  pkg/dashboard/subproc/helmTypes.go
  pkg/dashboard/subproc/kubectl.go
  pkg/dashboard/subproc/repos.go
  pkg/dashboard/utils/utils.go
  pkg/dashboard/utils/utils_test.go
Labels: ci, api, app, backend, docker, github-actions, scanners, frontend, docs

#211 Display UI indication if chart is upgradable
  pkg/dashboard/handlers/helmHandlers.go
  pkg/dashboard/static/list-view.js
Labels: backend, frontend

#139 New CLI Flag `--devel` To Include Development/Prerelease Versions of Charts
  go.mod
  main.go
  pkg/dashboard/api_test.go
  pkg/dashboard/objects/app.go
  pkg/dashboard/objects/data.go
  pkg/dashboard/objects/data_test.go
  pkg/dashboard/objects/repos.go
  pkg/dashboard/objects/repos_test.go
  pkg/dashboard/objects/testdata/repositories-invalid-cache-file.yaml
  pkg/dashboard/objects/testdata/repositories-malformed-manifest.yaml
  pkg/dashboard/objects/testdata/testing-index.yaml
  pkg/dashboard/server.go
Labels: app, tests

#215 Support working with local charts
  .github/pull_request_template.md
  README.md
  images/screenshot.png
  images/screenshot_local_charts.png
  images/screenshot_run_test.png
  images/screenshot_run_test_result.png
  images/screenshot_scan_manifest.png
  images/screenshot_scan_resource.png
  main.go
  pkg/dashboard/handlers/helmHandlers.go
  pkg/dashboard/objects/data.go
  pkg/dashboard/objects/repos.go
  pkg/dashboard/objects/repos_test.go
  pkg/dashboard/server.go
  pkg/dashboard/static/actions.js
  pkg/dashboard/static/index.html
  pkg/dashboard/static/repo.js
Labels: app, backend, frontend, docs, tests

#219 Execute install script in debug mode only when HELM_DEBUG flag is set
  scripts/install_plugin.sh
Labels: ci
