Repository komodorio/helm-dashboard, pull requests merged in 2023-07, with the labels that each got.

#411 Revision page ui fixes
  dashboard/src/components/Badge.tsx
  dashboard/src/components/Button.tsx
  dashboard/src/components/Tabs.tsx
  dashboard/src/components/revision/RevisionDetails.tsx
  dashboard/src/components/revision/RevisionResource.tsx
  dashboard/src/pages/Revision.tsx
  dashboard/vite.config.ts
Labels: helm-dashboard-v2

#416 Migrate to storybook 7
  dashboard/.gitignore
  dashboard/.storybook/main.js
  dashboard/.storybook/main.ts
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/components/revision/RevisionCard.stories.tsx
  dashboard/storybook-static/favicon.ico
  dashboard/storybook-static/project.json
  dashboard/storybook-static/stories.json
  dashboard/tsconfig.json
  dashboard/yarn.lock
Labels: ci, api, docker, github-actions, frontend, docs, release

#417 Add troubleshoot in komodor
  dashboard/src/components/Troubleshoot.stories.tsx
  dashboard/src/components/Troubleshoot.tsx
  dashboard/src/components/revision/RevisionResource.tsx
  dashboard/tailwind.config.cjs
Labels: helm-dashboard-v2

#420 Fix revision age
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/components/revision/RevisionResource.tsx
  dashboard/src/components/revision/RevisionsList.tsx
  dashboard/src/layout/Header.tsx
  dashboard/src/pages/Repository.tsx
  dashboard/src/timeUtils.ts
  dashboard/yarn.lock
Labels: helm-dashboard-v2

#427 Refactoring install plugin script
  scripts/install_plugin.sh
Labels: ci

#431 Fix/lint
  .github/workflows/build.yml
  dashboard/.eslintrc.cjs
  dashboard/src/API/apiService.ts
  dashboard/src/API/interfaces.ts
  dashboard/src/API/releases.ts
  dashboard/src/App.tsx
  dashboard/src/components/Badge.tsx
  dashboard/src/components/Button.stories.tsx
  dashboard/src/components/ClustersList.stories.tsx
  dashboard/src/components/ClustersList.tsx
  dashboard/src/components/InstalledPackages/InstalledPackageCard.stories.tsx
  dashboard/src/components/InstalledPackages/InstalledPackageCard.tsx
  dashboard/src/components/LinkWithSearchParams.tsx
  dashboard/src/components/Tabs.stories.tsx
  dashboard/src/components/Tooltip.tsx
  dashboard/src/components/common/DropDown.stories.tsx
  dashboard/src/components/common/StatusLabel.tsx
  dashboard/src/components/modal/Modal.stories.tsx
  dashboard/src/components/repository/ChartViewer.stories.tsx
  dashboard/src/components/repository/RepositoriesList.stories.tsx
  dashboard/src/components/repository/RepositoriesList.tsx
  dashboard/src/components/repository/RepositoryViewer.stories.tsx
  dashboard/src/components/repository/RepositoryViewer.tsx
  dashboard/src/components/revision/RevisionDetails.tsx
  dashboard/src/components/revision/RevisionDiff.tsx
  dashboard/src/components/revision/RevisionResource.tsx
  dashboard/src/context/ErrorModalContext.tsx
  dashboard/src/data/types.ts
  dashboard/src/hooks/useNavigateWithSearchParams.ts
  dashboard/src/index.css
  dashboard/src/layout/Header.tsx
  dashboard/src/pages/Installed.tsx
  dashboard/src/pages/Repository.tsx
  dashboard/src/pages/Revision.tsx
  dashboard/yarn.lock
Labels: helm-dashboard-v2

#439 refactor
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/App.tsx
  dashboard/src/layout/Header.tsx
  dashboard/src/pages/DocsPage.tsx
  dashboard/yarn.lock
Labels: helm-dashboard-v2

#437 remove diff2html css html dep
  dashboard/index.html
Labels: helm-dashboard-v2

#441 Adding storybook for StatusLabel component
  dashboard/src/components/common/StatusLabel.stories.tsx
  dashboard/yarn.lock
Labels: helm-dashboard-v2

#442 Fix public assets
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/public/analytics.js
  dashboard/public/logo.svg
  dashboard/tsconfig.json
  dashboard/vite.config.ts
  dashboard/yarn.lock
Labels: helm-dashboard-v2

#440 add prettier
  dashboard/.eslintrc.cjs
  dashboard/.prettierignore
  dashboard/.storybook/main.cjs
  dashboard/.storybook/main.ts
  dashboard/.storybook/preview-body.html
  dashboard/.storybook/preview-head.html
  dashboard/.storybook/preview.cjs
  dashboard/.storybook/preview.js
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/postcss.config.cjs
  dashboard/src/API/apiService.ts
  dashboard/src/API/interfaces.ts
  dashboard/src/API/k8s.ts
  dashboard/src/API/other.ts
  dashboard/src/API/scanners.ts
  dashboard/src/App.css
  dashboard/src/App.tsx
  dashboard/src/components/Badge.stories.tsx
  dashboard/src/components/Button.stories.tsx
  dashboard/src/components/ClustersList.stories.tsx
  dashboard/src/components/LinkWithSearchParams.tsx
  dashboard/src/components/SelectMenu.stories.tsx
  dashboard/src/components/SelectMenu.tsx
  dashboard/src/components/Tabs.stories.tsx
  dashboard/src/components/TabsBar.tsx
  dashboard/src/components/TextInput.stories.tsx
  dashboard/src/components/TextInput.tsx
  dashboard/src/components/Troubleshoot.stories.tsx
  dashboard/src/components/common/DropDown.stories.tsx
  dashboard/src/components/modal/AddRepositoryModal.stories.tsx
  dashboard/src/components/modal/ErrorModal.stories.tsx
  dashboard/src/components/modal/InstallChartModal/InstallChartModal.tsx
  dashboard/src/components/modal/InstallChartModal/VersionToInstall.tsx
  dashboard/src/components/repository/ChartViewer.stories.tsx
  dashboard/src/components/repository/RepositoriesList.stories.tsx
  dashboard/src/hooks/useAlertError.ts
  dashboard/src/hooks/useNavigateWithSearchParams.ts
  dashboard/src/layout/Sidebar.tsx
  dashboard/src/pages/DocsPage.tsx
  dashboard/src/pages/NotFound.tsx
  dashboard/src/stories/Button.stories.tsx
  dashboard/src/stories/Button.tsx
  dashboard/src/stories/Header.stories.tsx
  dashboard/src/stories/Header.tsx
  dashboard/src/stories/Introduction.stories.mdx
  dashboard/src/stories/Page.stories.tsx
  dashboard/src/stories/Page.tsx
  dashboard/src/stories/button.css
  dashboard/src/stories/header.css
  dashboard/src/stories/page.css
  dashboard/yarn.lock
Labels: helm-dashboard-v2

#448 Handled resource kind PodDisruptionBudget and CRD for health status.
  pkg/dashboard/handlers/kubeHandlers.go
Labels: backend
