Repository komodorio/helm-dashboard, pull requests merged in 2023-01, with the labels that each got.

#183 Update Kommunity link
  README.md
Labels: docs

#184 Update Kommunity link across all files
  .github/ISSUE_TEMPLATE/bug.yaml
  CONTRIBUTING.md
  pkg/dashboard/static/index.html
Labels: github-actions, frontend, docs

#178 Add option to execute Tests for release
  README.md
  pkg/dashboard/api.go
  pkg/dashboard/handlers/helmHandlers.go
  pkg/dashboard/static/actions.js
  pkg/dashboard/static/index.html
  pkg/dashboard/static/styles.css
  pkg/dashboard/subproc/data.go
  screenshot_run_test.png
  screenshot_run_test_result.png
Labels: api, app, backend, frontend, docs

#190 Break filters text when resizing window
  pkg/dashboard/static/styles.css
Labels: frontend

#192 Provide execution rights to install script
  scripts/install_plugin.sh
Labels: ci

#191 Using object model to execute helm test
  pkg/dashboard/api.go
  pkg/dashboard/handlers/helmHandlers.go
  pkg/dashboard/objects/releases.go
Labels: api, backend

#202 Update release workflow
  .github/labeler.yml
  .github/workflows/release.yaml
Labels: github-actions, release

#199 ✅ Add test for dashboard/objects/data.go NewDataLayer
  go.mod
  go.sum
  pkg/dashboard/objects/data.go
  pkg/dashboard/objects/data_test.go
Labels: tests

#204 Added unit tests for releases
  pkg/dashboard/objects/releases_test.go
Labels: tests

#197 Rework API routes
  .github/workflows/build.yml
  pkg/dashboard/api.go
  pkg/dashboard/api_test.go
  pkg/dashboard/handlers/helmHandlers.go
  pkg/dashboard/handlers/kubeHandlers.go
  pkg/dashboard/handlers/scannerHandlers.go
  pkg/dashboard/objects/releases.go
  pkg/dashboard/static/actions.js
  pkg/dashboard/static/api-docs.html
  pkg/dashboard/static/details-view.js
  pkg/dashboard/static/index.html
  pkg/dashboard/static/list-view.js
  pkg/dashboard/static/openapi.json
  pkg/dashboard/static/repo.js
  pkg/dashboard/static/revisions-view.js
  pkg/dashboard/static/scripts.js
  pkg/dashboard/utils/utils.go
  pkg/dashboard/utils/utils_test.go
Labels: api, app, backend, frontend, tests
