Repository komodorio/helm-dashboard, pull requests merged in 2023-06, with the labels that each got.

#367 Build and release ARM docker images
  .github/workflows/build.yml
  .github/workflows/release.yaml
  Dockerfile
Labels: docker, release

#369 Change commit message of chart release
  .github/workflows/build.yml
  .github/workflows/release.yaml
Labels: release

#373 Optimize single release getting
  pkg/dashboard/handlers/helmHandlers.go
  pkg/dashboard/objects/releases.go
Labels: backend

#378 Fix-377/upgrade-button
  dashboard/src/layout/Header.tsx
Labels: ci, api, docker, github-actions, frontend

#376 Task-375-Analytics script integration
  dashboard/.eslintrc.cjs
  dashboard/index.html
  dashboard/public/scripts/analytics.js
  dashboard/tsconfig.json
Labels: helm-dashboard-v2

#379 Api
  dashboard/src/API/interfaces.ts
  dashboard/src/API/k8s.ts
  dashboard/src/API/other.ts
  dashboard/src/API/releases.ts
  dashboard/src/API/repositories.ts
  dashboard/src/API/scanners.ts
  dashboard/src/components/ClustersList.tsx
  dashboard/src/components/InstalledPackages/InstalledPackagesHeader.tsx
  dashboard/src/components/ShutDownButton.tsx
  dashboard/src/components/modal/Modal.tsx
  dashboard/src/layout/Header.tsx
  dashboard/src/pages/Installed.tsx
  dashboard/yarn.lock
  pkg/dashboard/api.go
Labels: api, helm-dashboard-v2

#384 Fix | Add more fields to add repository form
  dashboard/src/components/modal/AddRepositoryModal.tsx
  dashboard/src/index.css
  dashboard/tailwind.config.cjs
Labels: helm-dashboard-v2

#381 Revision resources tab
  dashboard/index.html
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/API/releases.ts
  dashboard/src/App.tsx
  dashboard/src/assets/close.png
  dashboard/src/components/Badge.tsx
  dashboard/src/components/Button.tsx
  dashboard/src/components/InstalledPackages/InstalledPackageCard.tsx
  dashboard/src/components/Tabs.tsx
  dashboard/src/components/modal/Modal.tsx
  dashboard/src/components/modal/UninstallModal.tsx
  dashboard/src/components/revision/RevisionDetails.tsx
  dashboard/src/components/revision/RevisionResource.tsx
  dashboard/src/components/revision/RevisionTabs.tsx
  dashboard/src/layout/Body.tsx
  dashboard/src/layout/Header.tsx
  dashboard/tailwind.config.cjs
  dashboard/yarn.lock
  pkg/dashboard/api.go
  pkg/dashboard/static/.gitkeep
Labels: api, helm-dashboard-v2

#388 fix revision releases
  dashboard/src/API/apiService.ts
  dashboard/src/components/revision/RevisionsList.tsx
  dashboard/src/pages/Revision.tsx
  dashboard/yarn.lock
  pkg/dashboard/api.go
Labels: api, helm-dashboard-v2

#386 Global error handle
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/App.tsx
  dashboard/src/components/InstalledPackages/InstalledPackagesHeader.tsx
  dashboard/src/components/modal/GlobalErrorModal.tsx
  dashboard/src/components/modal/Modal.tsx
  dashboard/src/context/ErrorModalContext.tsx
  dashboard/src/hooks/useAlertError.ts
  dashboard/yarn.lock
Labels: helm-dashboard-v2

#393 Helm dashboard v2
  dashboard/index.html
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/API/releases.ts
  dashboard/src/components/revision/RevisionDetails.tsx
  dashboard/src/components/revision/RevisionDiff.tsx
  dashboard/yarn.lock
Labels: helm-dashboard-v2

#392 UI | UI fixes and filter function on repository page
  dashboard/src/components/Spinner/index.tsx
  dashboard/src/components/modal/AddRepositoryModal.tsx
  dashboard/src/components/modal/Modal.tsx
  dashboard/src/components/repository/ChartViewer.tsx
  dashboard/src/components/repository/RepositoriesList.tsx
  dashboard/src/components/repository/RepositoryViewer.tsx
  dashboard/src/index.css
  dashboard/src/pages/Repository.tsx
  dashboard/tailwind.config.cjs
Labels: helm-dashboard-v2

#397 Change location for backend files in Go
  .dockerignore
  .github/workflows/build.yml
  .gitignore
  Dockerfile
  dashboard/index.html
  dashboard/public/logo.png
  dashboard/public/logo.svg
  dashboard/public/scripts/analytics.js
  dashboard/src/components/InstalledPackages/InstalledPackagesHeader.tsx
  dashboard/tsconfig.json
  dashboard/vite.config.ts
  dashboard/yarn.lock
  pkg/dashboard/api.go
  pkg/frontend/dist/.gitkeep
  pkg/frontend/fs.go
Labels: api, docker, helm-dashboard-v2

#399 Helm dashboard v2
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/App.tsx
  dashboard/src/components/Tabs.tsx
  dashboard/src/components/revision/RevisionDetails.tsx
  dashboard/src/components/revision/RevisionDiff.tsx
  dashboard/src/index.css
  dashboard/src/pages/Revision.tsx
Labels: helm-dashboard-v2

#407 add repo to url
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/API/apiService.ts
  dashboard/src/App.tsx
  dashboard/src/components/InstalledPackages/InstalledPackageCard.tsx
  dashboard/src/components/InstalledPackages/InstalledPackagesHeader.tsx
  dashboard/src/components/repository/RepositoriesList.tsx
  dashboard/src/components/repository/RepositoryViewer.tsx
  dashboard/src/layout/Header.tsx
  dashboard/src/pages/Repository.tsx
  dashboard/tailwind.config.cjs
  dashboard/yarn.lock
Labels: helm-dashboard-v2

#402 Helm dashboard v2
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/API/apiService.ts
  dashboard/src/API/releases.ts
  dashboard/src/components/revision/RevisionDetails.tsx
  dashboard/src/layout/Header.tsx
  dashboard/vite.config.ts
  dashboard/yarn.lock
Labels: helm-dashboard-v2

#409 missing config
  dashboard/.env
  dashboard/src/layout/Header.tsx
  dashboard/vite.config.ts
Labels: helm-dashboard-v2

#410 Fix/minor responsiveness
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/API/releases.ts
  dashboard/src/App.tsx
  dashboard/src/components/Badge.tsx
  dashboard/src/components/InstalledPackages/InstalledPackageCard.tsx
  dashboard/src/components/revision/RevisionDetails.tsx
  dashboard/src/global.tsx
  dashboard/src/layout/Header.tsx
  dashboard/src/pages/Repository.tsx
  dashboard/tailwind.config.cjs
  dashboard/yarn.lock
Labels: helm-dashboard-v2
