Repository komodorio/helm-dashboard, pull requests merged in 2024-02, with the labels that each got.

#507 fix: history-max does not work when exec helm upgrade
  pkg/dashboard/objects/releases.go
  pkg/dashboard/server.go
Labels: app

#512 Bump up golang to 1.21 and dependencies
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/release.yaml
  go.mod
  go.sum
  pkg/dashboard/handlers/helmHandlers.go
Labels: backend, docker, release

#511 Added greater granularity for boolean environment variables
  main.go
  pkg/dashboard/api.go
  pkg/dashboard/api_test.go
  pkg/dashboard/objects/data.go
  pkg/dashboard/server.go
  pkg/dashboard/utils/utils.go
  pkg/dashboard/utils/utils_test.go
Labels: api, app, tests

#515 Added ability to disable query to ArtifactHub via env
  pkg/dashboard/handlers/helmHandlers.go
Labels: backend

#517 Fix resource status not enhanced for calls to /api/k8s/{kind}/get route
  pkg/dashboard/handlers/kubeHandlers.go
Labels: backend
